home {
    .fdcl-nolist {
        text-align: center;
    }
    .fdcl-footer {
        width: 50%;
    }
    .fdcl-footer.btn-left {
        float: left;
        border-right: solid 1px white;
    }
    .fdcl-footer.btn-right {
        float: right;
        border-left: solid 1px white;
    }
}
